.local-color{background-color: #212121;} .no-photo{background-color: #424242;} #main-navigation{background-color: #616161;}.right-col .box:nth-child(2){display: none;}
#main-navigation li:hover { border-color: #fff; background-color: #212121; } h1{text-align:center;} #nav-logo a img {filter: grayscale(100%);}
